.container{
    height: 600px;
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 550px;
    grid-template-rows: 170px 400px;
    row-gap: 30px;
    column-gap: 50px;
}


.top-page{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 900px;
    height: 170px;
    background-image: url("../images/spices.png");
}

.content-large{
    grid-row-start: 2;
    grid-row-end: span 2;
    width: 300px;
    height: 400px;
    background-color: #CDAD00;
    p{
        text-align: justify;
        text-size-adjust: 14px;
        font-family: 'Times New Roman';
        margin: 1px 5px 1px 10px;
    }
    h2{
        text-align: center;
        color: #ffffff;
        margin-top: 15px;
    }
    
    a:link {
        color:white;
    }
    a:visited {
        color: white;
    }
    a:hover {
        color: black;
    }
    a:active {
        color: white;
    }
    .pLink{
        text-align: center;
    }
}

.content-small{
    width: 550px;
    height: 400px;
}

.item1{
    position: relative;
    top: 110px;
    left: 400px;
}

.content-small-two{
    width: 550px;
    height: 200px;
    background: #8B7500;
    position: relative;
    top: 107px;
    p{
        text-align: center;
        text-size-adjust: 16px;
    }
    th{
        font-weight: normal;
    }
    .p2{
        font-family: Arial;
    }
    a:link {
    color: #CDAD00;
    }
    a:visited {
    color:#CDAD00;
    }
    a:hover {
    color: black;
    }
    a:active {
    color: #CDAD00;
    }
}