p{
    text-align: justify;
    margin: 5px 5px 5px 5px;
}

.div1{
    float:left;
    width: 33.33%;
    height: 380px;

}

.div2{
    margin: 0 auto;
    width: 33.33%;
    height: 380px;
}

.div3{
    float: right;
    width: 33.33%;
    height: 250px;
    position: absolute;
    margin-left: 0px;
}
.div4{
    float: right;
    width: 33.33%;
}
.div5{
    position:absolute;
   top:70px;
   right:120px;
   width: 400px;
   height: 300px;

}